.info {
  margin: 0 5vw 0 5vw;
  max-width: 750px;
  justify-self: start;
  align-self: center;
  margin-left: 20%;
}

.info p {
  border-left: solid;
  border-width: 3px;
  padding-left: 10px;
  font-size: 10pt;
  margin: 20px 0 20px 0;
}

.info p .heading {
  text-decoration: underline;
  font-size: 11pt;
}

.info .link {
  color: #2323cc;
  text-decoration: none;
}

.info .link:hover {
  text-decoration: underline;
}
