.photos {
  height: 80%;
  width: 80%;
  overflow-y: auto;
  margin: 0;
  /* border-left: solid; */
  border-width: 3px;
}

.set-title {
  padding-left: 15px;
  border-left: solid;
  border-width: 3px;
  margin-bottom: 30px;
}

.set-title h1 {
  font-size: 14pt;
  margin: 0;
  font-weight: normal;
}

.set-title p {
  font-size: 11pt;
  margin: 0;
  padding-bottom: 3px;
}

.photos-grid {
  display: flex;
  gap: 12px;
  width: 100%;
  min-height: 100%;
}

.photos-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 12px;
  min-width: 0;
}

.photo-item {
  width: 100%;
}

.photo-item img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}
