.contact {
  border-left: solid;
  border-width: 3px;
  padding-left: 10px;
  justify-self: start;
  align-self: center;
  margin-left: 20%;
}

.contact p {
  margin: 0;
  font-size: 11pt;
}

.contact .link {
  color: #2323cc;
}

.contact .link:hover {
  text-decoration: underline;
}
