.overlay-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-panel {
  background: white;
  width: 70%;
  max-width: 1300px;
  max-height: 80vh;
  padding: 3rem;
  border-radius: 5px;
  transform-origin: center center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 0;
}

.overlay-panel--photos {
  height: 80vh;
}
