.overlay-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-panel {
  background: white;
  width: 70%;
  max-width: 1100px;
  max-height: 80vh;
  padding: 3rem;
  overflow-y: auto;
  border-radius: 15px;
  transform-origin: center center;
}