.notes-shell {
  max-width: 600px;
  justify-self: start;
  align-self: center;
  margin-left: 20%;
}

.entry-panel {
  justify-self: start;
  align-self: center;
  margin-left: 20%;
}

.notes {
  max-height: 60vh;
  overflow: scroll;
}

.notes-indicator {
  font-size: 16pt;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #98000D;
  margin: 6px 0;
}

.notes-arrow {
  display: inline-block;
}

.notes-arrow--up {
  transform: rotate(180deg);
}

.note {
  border-left: solid;
  border-width: 2px;
  margin: 3vw 0 3vw 0;
}

.visitor-note {
  color: #98000D;
}

.note-title {
  padding-left: 10px;
  font-size: 12pt;
  font-weight: normal;
  margin: 0 0 0 0;
}

.note-date {
  padding-left: 10px;
  font-size: 10pt;
  font-weight: normal;
  margin: 0 0 0 0;
}

.note-text {
  padding-left: 10px;
  font-size: 10pt;
  font-weight: normal;
  margin: 10px 0 0 0;
}

.entry-panel-text {
  font-size: 11pt;
  font-weight: normal;
  margin: 20px 0 20px 0;
  padding-left: 10px;
  border-left: solid;
  border-width: 2px;
}

.input-block {
  border-left: solid;
  border-width: 2px;
  margin: 20px 0 20px 0;
}

.small-input, .input-block p, .large-input {
  margin: 0 0 0 10px;
}

.small-input, .large-input {
  background-color: #d9d9d9;
  border: none;
  width: 100%;
  font-family: 'Ranade-Regular';
  color: #98000D;
  padding: 5px;
}

.small-input:focus, .large-input:focus {
  border-bottom: solid;
  outline: none;
}

.large-input {
  resize: none;
  background-color: #d9d9d9;
  width: 100%;
  height: 70px;
}

.post-button {
  color: #2323cc;
  padding-left: 10px;
  border-left: solid;
  border-width: 2px;
  border-color: black;
}

.post-button:hover {
  text-decoration: underline;
}
