.notes-shell {
  max-width: 600px;
}

.notes {
  max-height: 60vh;
  overflow: scroll;
}

.notes-indicator {
  font-size: 12pt;
  line-height: 1;
  text-align: center;
  color: #98000D;
  margin: 6px 0;
}

.notes-arrow {
  display: inline-block;
}

.notes-arrow--up {
  transform: rotate(180deg);
}

.note {
  border-left: solid;
  border-width: 2px;
  margin: 3vw 0 3vw 0;
}

.visitor-note {
  color: #98000D;
}

.note-title {
  padding-left: 10px;
  font-size: 12pt;
  font-weight: normal;
  margin: 0 0 0 0;
}

.note-date {
  padding-left: 10px;
  font-size: 10pt;
  font-weight: normal;
  margin: 0 0 0 0;
}

.note-text {
  padding-left: 10px;
  font-size: 10pt;
  font-weight: normal;
  margin: 10px 0 0 0;
}
