/* Entire app */

html,
body,
#root {
  margin: 0;
  height: 100%;
  cursor: default;
}

.App {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;
  height: 100%;
  background-color: #f2f2f2;
  font-family: 'IBM Plex Mono';
} 

/* Left side / menu */

.left {
  /* border to be deleted */
  /* border-style: solid; */

  justify-items: center;
  align-content: center;
}

.right {
  /* border to be deleted */
  /* border-style: solid; */

  display: grid;
  /* aspect-ratio: 1.2 / 1; */
  height: 100%;
  width: 1fr;
  min-height: 100%;

  place-items: center;
  /* align-items: center; */
}

.placeholder {
  border-left: solid;
  border-width: 2px;
  padding: 0 10px;
  width: fit-content;
}
