/* Entire app */

html,
body,
#root {
  margin: 0;
  height: 100%;
  cursor: default;
}

::-webkit-scrollbar {
  display: none;
}

.App {
  margin: 0vw 5vw;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 25% 75%;
  height: 100%;
  background-color: #ffffff;
  font-family: 'IBM Plex Mono';
} 

/* Left side / menu */

.left {
  display: flex;
  align-items: center;
}

.right {
  /* border to be deleted */
  /* border: solid; */

  display: grid;
  /* aspect-ratio: 1.2 / 1; */
  height: 100%;
  width: 1fr;
  min-height: 100%;

  place-items: center;
  /* align-items: center; */
}

.placeholder {
  border-left: solid;
  border-width: 3px;
  padding: 0 10px;
  width: fit-content;
}

