/* Entire app */

html,
body,
#root {
  margin: 0;
  height: 100%;
  /* cursor: default; */
  /* border: 1px solid; */
}

body {
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

.App {
  height: 100%;
  box-sizing: border-box;
  padding: 0vw 5vw;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 25% 75%;
  background-color: #ffffff;
  font-family: 'IBM Plex Mono';
  
  border: 10px solid;
} 

/* Left side / menu */

.left {
  display: flex;
  align-items: center;
  min-height: 0;

  /* border: 1px solid; */
}

.right {
  /* border to be deleted */
  /* border: 1px solid; */

  display: flex;
  /* aspect-ratio: 1.2 / 1; */
  /* height: 100%; */
  /* width: 1fr; */
  min-height: 0;

  place-items: center;
  /* align-items: center; */
}

.placeholder {
  border-left: solid;
  border-width: 3px;
  padding: 0 10px;
  width: fit-content;
}

