html,
body,
#root {
  margin: 0;
  height: 100%;
  cursor: default;
}

.App {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr auto;
  height: 100%;
  /* min-height: 100vh; */
  background-color: #f2f2f2;
  font-family: 'IBM Plex Mono';
} 

.left {
  /* border to be deleted */
  /* border: black;
  border-width: 1px;
  border-style: solid; */

  justify-items: center;
  align-content: center;
}

.menu-block {
  /* border-style: solid; */
  margin-left: 40px;
  margin-right: 40px;
}

.title {
  font-size: 26pt;
  font-weight: normal;
  margin: 0;
  /* justify-self: center; */
  /* width: fit-content; */
}

.title-link {
  color: inherit;
  text-decoration: none;
}

.title-link:hover {
  text-decoration: underline;
}

.subtitle {
  font-size: 12pt;
  font-weight: normal;
  margin: 0;
  margin-bottom: 150px;
}

nav {
  /* border-style: solid; */
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav ul li {
  margin-bottom: 20px;
}

nav a {
  color: inherit;
  text-decoration: none;
}

nav a:hover,
nav a[aria-current="page"] {
  text-decoration: underline;
}

.posts-sublist {
  list-style-type: none;
  padding-left: 16px;
  margin: 0;
  font-size: 0.8em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 700ms ease;
}

.posts-sublist li {
  margin-bottom: 10px;
}

.posts-sublist li:first-child {
  margin-top: 20px;
}

.posts-item:has(> a[aria-current="page"]) .posts-sublist,
.posts-item:has(.posts-sublist a[aria-current="page"]) .posts-sublist {
  max-height: 200px;
}

ul li:last-child {
  margin-bottom: 0; /* Remove space from the last item */
}

.right {
  /* border to be deleted */
  /* border: black;
  border-width: 1px;
  border-style: solid; */

  aspect-ratio: 1.2 / 1;
  height: 100%;
  width: auto;
  min-height: 100%;

  justify-items: center;
  align-content: center;
}

.placeholder {
    border-left: solid;
    border-width: 2px;
    padding-left: 10px;
}
