.photos {
  width: 100%;
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.photos-title {
  margin-bottom: 1.5rem;
  /* padding-left: 14px; */
}

.photos-window-viewport {
  position: relative;

  flex: 1;
  min-height: 0;
  /* overflow-y: auto;
  overflow-x: hidden; */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

/* .photos-window-viewport::-webkit-scrollbar {
  display: none;
} */

.PhotoGrid {
  position: relative;
  z-index: 0;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 12px;
  max-height: 70vh;

  /* padding: 14px; */
}

.PhotoGrid::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.photo-cell {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 2px;
  /* background: #111; */
}

.photo-cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.photo-detail {
  position: absolute;
  inset: 0;
  z-index: 2;
  background: transparent;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 70vh;
}

.photo-detail-bg {
  position: absolute;
  inset: 0;
  background: white;
  z-index: 0;
}

.photo-detail img {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  align-self: center;
  justify-self: left;
}

.photo-detail-fullres {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  align-self: center;
  justify-self: left;
}

.photo-detail .photo-caption {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  position: relative;
  z-index: 1;
  align-self: start;
  justify-self: end;
  text-align: right;
}

.photo-caption h4 {
  margin-top: 0;
}

.photo-detail h4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  position: relative;
  z-index: 1;
  align-self: end;
  justify-self: end;
  margin-bottom: 0;
}
